.gameboard {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 5px solid skyblue;
}

.territory {
  border: thin solid salmon; 
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.heart {
  background-color: bisque;
  height: 700px;
  width: 700px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}